
<div class="login-box" >
    <h2>เพิ่มคำถาม</h2>
    <div class="row">
       
    </div>
    <form [formGroup]="questionForm">
      <div class="user-box">
        <input type="text" name="" required formControlName="no">
        <label>รหัสคำถาม</label>
      </div>
      <div class="user-box">
        <input type="text" name="" required formControlName="questionTitle">
        <label>คำถาม</label>
      </div>
      <div class="user-box">
        <input type="text" name="" required formControlName="titleOptionA">
        <label>ก</label>
      </div>
      <div class="user-box">
        <input type="text" name="" required formControlName="titleOptionB">
        <label>ข</label>
      </div>
      <div class="user-box">
        <input type="text" name="" required formControlName="titleOptionC">
        <label>ค</label>
      </div>
      <div class="user-box">
        <input type="text" name="" required formControlName="titleOptionD">
        <label>ง</label>
      </div>
      <div class="user-box">
        <input type="text" name="" required formControlName="ans">
        <label>ข้อที่ถูก</label>
      </div>
     
      <a  >
        <span></span>
        <span></span>
         <span></span>
        <span></span>
        บันทึก
      </a>
  
    </form>
  </div> 
  